@import "clear";

@mixin ipad {
    @media (max-width:700px){
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    min-height: 100vh;

}

.container{
    display: flex;
    flex-direction: column;
    background: white;
    max-width: 115rem;
    margin: 4vw auto;
    min-height: 70vh;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

//  grid-are ve grid-template-area kullanımı
.logo{
    grid-area: logo;
}

.search_form{
    grid-area: search;
}

.likes{
    grid-area: likes;
}


//! Header SCSS START
header{
    display: grid;
    align-items: center;
    padding: 0 20px;
    background: #f9f5f3;
    border-radius: 10px 10px 0 0;
    grid-template-areas: "logo search likes";
    @include ipad{
        grid-template-areas: 
        "logo likes"
        "search search";
    }
    .logo{
        display: flex;
        align-items: center;
        img{
            height: 100px;
        }
        a{
        color: rgba(223, 37, 37, 0.842);
        }
    }
    .search_form{
        display: flex;
        align-items: center;
        justify-content: center;
        @include ipad{
            margin-bottom: 30px;
        }
    }
    form{
        background: white;
        border-radius: 40px;
        display: flex;
        align-items: center;
        transition: all .3s;
        
        &:focus-within{
            transform: translateY(-2px);
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
        input{
            border: none;
            font-size: 15px;
            width: 300px;
            outline: none;
            padding: 3px 8px;
            border-radius: 40px;
            &::placeholder{
                color: #b9aba6;
            }
        }
        button{
            border-radius: 40px;
            padding: 10px 30px;
            background: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
            color: white;
            transition: all .3s;
            cursor: pointer;
            &:hover{
                scale: 1.1;
                
            }

        }
    }
    .likes{
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 25px;
        cursor: pointer;
        margin-left: 60px;
        @include ipad{
            margin-left: unset;
        }
        i{
            transition: all .2s;
            &:hover{
                color: rgba(128, 128, 128, 0.795);
            }
        }
    }
}
//! Header SCSS START

//! Main Section SCSS START
main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
    
    section{
        height: 100%;
    }
    .results{
        display: flex;
        flex-direction: column;
        .result-link{
            background: white;
            border-top: white;
            display: flex;
            padding: 10px 20px;
            gap: 20px;
            align-items: center;
            transition: all .4s;
            cursor: pointer;
            &:hover{
                transform: translateY(-2px);
                background: #c0754f1c;
                
            }
            img{
                height: 60px;
                width: 60px;
                border-radius: 50%;
                object-fit: cover;
                
            }
            .data{
                h4{
                    color: rgba(0, 0, 0, 0.664);
                    white-space: nowrap;
                    max-width: 350px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .recipe{
        background: #f9f5f3;
    }
    .shopping{

    }
}

//loader
.loader{
    margin: 80px auto;
    img{
        width: 300px;
        
    }
}
//! Main Section SCSS START